<p id="notice"><%= notice %></p>

<p>
  <strong>Social reason:</strong>
  <%= @client.social_reason %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Giro:</strong>
  <%= @client.giro %>
</p>

<p>
  <strong>Comune:</strong>
  <%= @client.comune %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
